---
import BaseLayout from '../layouts/BaseLayout.astro';
import SocialLinks from '../components/SocialLinks.astro';
import { site } from '../data/config.json';

const pageTitle = 'About Me';
---

<BaseLayout pageTitle={pageTitle}>
	<p>Hello! In case you haven’t figured it out yet, my name is Steven Benner. I am a web developer, car enthusiast, and former small business owner living in the Seattle area. I’m the general jack of all trades, master of none type. I am a capable JavaScript, C, .NET, and PHP developer who also has moonlighted as a web designer and system administrator. I can do just about anything with computers.</p>
	<p>My work is used by countless thousands of people every day, and chances are that <em>you</em> have used my work somewhere already. Now-a-days I occupy my time by working as a web developer. My current specialties are JavaScript, C, PHP, HTML/CSS, and C# .NET development.</p>
	<p>You can follow my antics on various social sites around the web. Here are the ones that I try to keep somewhat updated.</p>
	<SocialLinks />
	<h3>This blog</h3>
	<p>I created this blog as my personal forum to post random nuggets of knowledge as well as my personal rants an ramblings. I haven’t been writing blog posts much anymore, but when I do you will find posts about all kinds of random development and technology topics, really whatever interests me on that occasion. Perhaps you’ll find something interesting, helpful, or maybe even valuable posted here, from time to time. Otherwise you’ll just see me ranting at the internet.</p>
	<p>If you want to keep updated on the random pieces of knowledge and ramblings that I post on this blog then take a moment and <a href={site.rss}>subscribe to my RSS feed</a>.</p>
	<h3>My interests</h3>
	<p>I am an old-school computer nerd who adores all things computing. Web development is my particular area of expertise, but I’ve done plenty of desktop development as well as system administration. I can code in JavaScript, C, C#, PHP, Perl, HTML, CSS, XSLT, SQL, and more. Back in the day I even worked with Pascal and COBOL, but those probably don’t really count anymore.</p>
	<p>Arch Linux is my desktop operating system of choice. I abandoned Windows when I saw which direction the wind was blowing during the initial Windows 10 announcements and roll-out. I like the power, flexibility, and philosophy of Linux, and I need to have real control over my computer.</p>
	<p>I am a fan of PC gaming. I’m interested in all kinds of games, everything from first-person shooters to 4x strategy games.</p>
	<p>As well as the computer stuff I am an armchair scientist. I love science, particularly theoretical physics and astronomy. I probably watched a bit too much Star Trek as a child.</p>
	<p>I’m also a car enthusiast.</p>
	<h3>Disclaimer</h3>
	<p>This website represents the opinions of Steven Benner. All opinions expressed on this website are solely the opinions of myself at the time of writing and do not reflect the opinions of my employer, their parent companies or affiliates, or any other organizations with whom I may be affiliated.</p>
	<p>Except where otherwise noted, content on this site is licensed under a <a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="license nofollow">Creative Commons Attribution-ShareAlike 4.0 International license</a>.</p>
</BaseLayout>
