---
import BaseLayout from '../layouts/BaseLayout.astro';
import { site } from '../data/config.json';

const pageTitle = 'Contact';
---

<BaseLayout pageTitle={pageTitle}>
	<p>I’m always looking for new ideas, projects, and opportunities! If you would like to contact me please don’t hesitate! I’d like to think that I’m fairly easy to talk with.</p>
	<p>If you have a comment about one of my articles please leave that comment on the article itself, you’ll find the comment form at the bottom of the page on every article here. It takes me much longer to respond to an email than it does to a blog comment.</p>
	<h3>Social networking</h3>
	<p>You can find me on numerous several social media sites around the internet, however the only ones I really follow and try to keep up to date are GitHub, LinkedIn, and Twitter.</p>
	<ul>
		<li><a href="https://github.com/stevenbenner" target="_blank" rel="noopener">My GitHub</a></li>
		<li><a href="https://www.linkedin.com/in/stevenbenner" target="_blank" rel="noopener">My LinkedIn</a></li>
		<li><a href="https://twitter.com/stevenbenner" target="_blank" rel="noopener">My Twitter</a></li>
		<li><a href={site.rss} target="_blank" rel="noopener">My RSS Feed</a></li>
	</ul>
</BaseLayout>
