---

---

<header>
	<hgroup>
		<h1><a href="/">Steven Benner’s Blog</a></h1>
		<p>Random articles about programming, computing, and the internet.</p>
	</hgroup>
</header>

<style>
	header {
		background: radial-gradient(ellipse at top left, #c73938 0%, #601c1b 70%);
		padding: 2rem 2rem;
	}
	h1, p {
		margin: 0;
	}
	h1 a {
		color: #fff;
		font-size: 2rem;
		font-weight: normal;
		text-decoration: none;
		text-shadow: #000 0.08rem 0.08rem;
	}
	p {
		color: #faebd7;
	}

	@media (min-width: 600px) {
		header {
			padding: 2rem 3rem;
			margin-top: 1rem;
			border-radius: 0.5rem 0.5rem 0 0;
		}
	}
</style>
