---
import { site } from '../data/config.json';

const { title, url, pubDate } = Astro.props
---

<li>
	<article>
		<p>
			<a href={url}>{title}</a><br />
			<time datetime={pubDate.toISOString()}>{pubDate.toLocaleDateString(site.language)}</time>
		</p>
	</article>
</li>
