---
import { site } from '../data/config.json';
---

<ul>
	<li><a href="https://github.com/stevenbenner">My GitHub</a></li>
	<li><a href="https://www.linkedin.com/in/stevenbenner">My LinkedIn</a></li>
	<li><a href={site.rss}>My RSS Feed</a></li>
</ul>
